layout {
    background-color "transparent"

    focus-ring {
        active-color   "#c5c1f6"
        inactive-color "#928f99"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c5c1f6"
        inactive-color "#928f99"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c5c1f6"
        inactive-color "#928f99"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c5c1f680"
    }
}

recent-windows {
    highlight {
        active-color   "#6a6796"
        urgent-color   "#ffb4ab"
    }
}