layout {
    background-color "transparent"

    focus-ring {
        active-color   "#e9bea2"
        inactive-color "#9c8e86"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#e9bea2"
        inactive-color "#9c8e86"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#e9bea2"
        inactive-color "#9c8e86"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#e9bea280"
    }
}

recent-windows {
    highlight {
        active-color   "#503420"
        urgent-color   "#ffb4ab"
    }
}