layout {

    focus-ring {
        active-color   "#ffb86d"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb86d"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb86d"
        inactive-color "#683c00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb86d80"
    }
}

recent-windows {
    highlight {
        active-color "#ffb86d"
        urgent-color "#ffb4ab"
    }
}
