layout {

    focus-ring {
        active-color   "#ffb4a6"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb4a6"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb4a6"
        inactive-color "#7d2c1d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb4a680"
    }
}

recent-windows {
    highlight {
        active-color "#ffb4a6"
        urgent-color "#ffb4ab"
    }
}
