layout {

    focus-ring {
        active-color   "#fcb974"
        inactive-color "#19120c"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#fcb974"
        inactive-color "#19120c"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#fcb974"
        inactive-color "#683c00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#fcb97480"
    }
}

recent-windows {
    highlight {
        active-color "#fcb974"
        urgent-color "#ffb4ab"
    }
}
