binds {
    // Core Noctalia binds
    Mod+Space hotkey-overlay-title="Application Launcher" {
        spawn-sh "noctalia msg panel-toggle launcher";
    }
    Mod+S hotkey-overlay-title="Control Center" {
        spawn-sh "noctalia msg panel-toggle control-center";
    }
    Mod+Comma hotkey-overlay-title="Settings" {
        spawn-sh "noctalia msg settings-toggle";
    }

    Mod+V hotkey-overlay-title="Clipboard Manager" {
        spawn-sh "noctalia msg panel-toggle clipboard";
    }

    Mod+M hotkey-overlay-title="Task Manager" {
        spawn-sh "noctalia msg panel-toggle control-center system";
    }

    Mod+N hotkey-overlay-title="Notification Center" {
        spawn-sh "noctalia msg panel-toggle control-center notifications";
    }

    Mod+Alt+L hotkey-overlay-title="Lock Screen" {
        spawn-sh "noctalia msg session lock";
    }

    Ctrl+Alt+Delete hotkey-overlay-title="Session Menu" {
        spawn-sh "noctalia msg panel-toggle session";
    }

    // Audio
    XF86AudioRaiseVolume allow-when-locked=true {
        spawn-sh "noctalia msg volume-up";
    }
    XF86AudioLowerVolume allow-when-locked=true {
        spawn-sh "noctalia msg volume-down";
    }
    XF86AudioMute allow-when-locked=true {
        spawn-sh "noctalia msg volume-mute";
    }
    XF86AudioMicMute allow-when-locked=true {
        spawn-sh "noctalia msg mic-mute";
    }

    // Brightness
    XF86MonBrightnessUp allow-when-locked=true {
       spawn-sh "noctalia msg brightness-up";
    }
    XF86MonBrightnessDown allow-when-locked=true {
       spawn-sh "noctalia msg brightness-down";
    }
}
